[Unit]
Description=Run C2 Master deterministic watchdog

[Timer]
OnBootSec=20s
OnUnitActiveSec=30s
AccuracySec=2s
Persistent=true

[Install]
WantedBy=timers.target
